* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(194, 137, 216);
}

h1 {
  margin-left: 20px;
  font-size: 45px;
}

ul {
  display: flex;
  margin-right: 20px;
}

li {
  list-style: none;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
} 

li:hover {
  color: aliceblue;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100vh;
  background-color: rgb(199, 252, 217);
}

.livros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 1rem;
  justify-items: center;
}

.card-livro {
  text-align: center;
}

.card-livro:hover img {
  transform: scale(1.05);
  filter: brightness(80%);
  transition: 0.5s ease-in-out;
}

.card-livro:hover p {
  color: rgb(194, 137, 216);
  transition: 0.5s ease-in-out;
}

.card-livro:hover span {
  color: rgb(194, 137, 216);
  transition: 0.5s ease-in-out;
}

img {
  margin-top: 1.25rem;
  width: 13rem;
  height: 16rem;
}


footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 137, 216);
}

h2:hover {
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: 1000ms;
}

p {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .livros {
    grid-template-columns: repeat(6, 1fr);
  }
}